* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
.header {
  background-image: url("../image/Wonders-of-the-Workplace-Banner.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -150px;
  padding: 60px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.header > p {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header > h1 {
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar {
  display: flex;
  background-color: #333;
}
.navbar > a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar > a:hover {
  background-color: #ddd;
  color: #000;
  transition: all 0.8s ease;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
.main {
  flex: 70%;
  padding: 20px;
}
.fakeimg {
  background-color: #aaa;
  width: 100%;
  border-radius: 12px;
}
.fakeimg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.footer {
  padding: 20px;
  text-align: center;
  background-color: #ddd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer > a{
  text-decoration: none;
  padding: 14px 14px;
  border-radius: 50%;
  font-size: 25px;
  color: #333;
}
.footer > a:nth-of-type(1):hover{
  color: #4267B2;
}
.footer > a:nth-of-type(2):hover{
  color: #fb3958;
}
.footer > a:nth-of-type(3):hover{
  color: #229ED9;
}
.footer > a:nth-of-type(4):hover{
  color: #171515;
}
.footer > h1{
  font-size: 18px;
}
.footer > h4:hover{
  cursor: pointer;
  color: #555;
}
/* Responsive holati 700px uchun */
@media screen and (max-width: 700px) {
  .container,
  .navbar {
    flex-direction: column;
    transition: all 0.4s ease;
  }
  .header {
    background-position-y: -450px;
    transition: all 0.4s ease;
  }
  .footer{
    flex-direction: column;
  }
}
@media screen and (max-width: 1100px) {
  .header {
    background-size: cover;
    background-position-y: 0px;
    transition: all 0.4s ease;
  }
}
